<% include ../fragments/head %>

  <body>

    <header>
      <% include ../fragments/header %>
      <script type="text/javascript" src="/theatre.js"></script>
    </header>

    <main class="row container">
      <div id="display">
      </div>

    </main>

    <% include ../fragments/footer %>
