<% include ../fragments/head %>

  <body>

    <header>
      <% include ../fragments/header %>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
      <script type="text/javascript" src="/theatre.js"></script>
    </header>

    <main class="row container">
      <div class="col s12">
        <h2><span id = "trial" class="flow-text"><%= trial %></span></h2>
      <h3></h3>
    </div>
    </main>

    <% include ../fragments/footer %>
